
<div class="area"></div><nav class="main-menu">
    <ul>
        <li *ngFor="let menus of menu" class="has-subnav main-menu">
            <a>
                <i class="fa  material-icons">{{menus.Iconos}}</i>
                <span class="nav-text">
                    {{menus.Menu}} 
                </span>
            </a>
            <div class="area2"></div>
            <nav class="main-menu2">
                <ul class="logout">
                    <li *ngFor="let menusubs of menusub" class="has-subnav main-menu">        
                        <a *ngIf="menusubs.Menu == menus.Menu " href="{{menusubs.url}}">
                            <i class="fa fa-2x"></i>
                            <span class="nav-text">
                                {{menusubs.submenu}} 
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="/login" (click)="btnLogout()">
            <i class="fa  fa-2x">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="arcs"><path d="M16 17l5-5-5-5M19.8 12H9M10 3H4v18h6"/></svg>
            </i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>

<div class="container">
<!--<router-outlet></router-outlet>-->
</div>
